.input-todo {
    width: 100%;
    border: 2px solid #9c8128;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(7px);

    .inputs {

        textarea {
            width: 100%;
            min-height: 50px;
            resize: vertical;
            outline: none;
            border: none;
            border-right: 2px solid #9c8128;
            background-color: transparent;
            font-size: 1.7rem;
            padding: 5px 10px;
            font-family: 'Lato', sans-serif;
            color: #61501a;
            margin: 0 10px -4px 0;
        }
        
        input[type=title] {
            width: 100%;
            outline: none;
            border: none;
            border-right: 2px solid #9c8128;
            border-bottom: 2px solid #9c8128;
            background-color: transparent;
            font-size: 1.7rem;
            padding: 5px 10px;
            font-family: 'Lato', sans-serif;
            color: #61501a;
            margin-right: 10px;
        }
    }

    .buttons {
        height: 70px;

        input[type=file] {
            margin: 15px 0 0 10px;
        }

        button {
            outline: none;
            height: fit-content;
            border: 2px solid #9c8128;
            border-radius: 5px;
            padding: 7px 10px;
            color: #ffe89d;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            background-color: #9c812870;
            backdrop-filter: blur(4px);

            &:hover {
                background-color: #9c812895;
            }
        }

        div {
            display: flex;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a, 
                p {
                    margin: 0;
                    font-size: 1rem;
                    cursor: pointer;
                }

                p:hover {
                    text-decoration: underline;
                }
            }

            p {
                height: fit-content;
                display: flex;
                align-items: center;
                padding: 0 5px;
                margin: 15px;
                font-size: 1.3rem;
            }

            img {
                margin: 0;
            }

            * {
                margin: 10px 10px 10px 0;
            }

        }
    }
}