.todos
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 15px 20%
    color: #ffe89d

    h1
        width: fit-content
        background-color: #9c812870
        padding: 10px 20px
        border-radius: 10px
        margin-bottom: 15px
        backdrop-filter: blur(3px)

    button
        cursor: pointer
        transition: .3s

    .input-todo
        width: 100%
        border: 2px solid #9c8128
        display: flex
        justify-content: space-between
        border-radius: 10px
        overflow: hidden
        backdrop-filter: blur(7px)

        p
            display: flex
            align-items: center
            background-color: #d4af3720
            padding: 0 5px
            font-size: 1.3rem

        input
            width: 100%
            outline: none
            border: none
            background-color: #d4af3720
            font-size: 1.7rem
            padding: 5px 10px
            font-family: 'Lato', sans-serif
            color: #61501a

        button
            width: 25%
            outline: none
            border: 2px solid #9c8128
            border-top: none
            border-bottom: none
            border-right: none
            font-family: 'Lato', sans-serif
            font-size: 1rem
            background-color: #9c812870
            color: #ffe89d
            backdrop-filter: blur(4px)

            &:hover
                background-color: #9c812895

    .todos-list
        width: 100%
        padding: 20px 0

        h2
            width: fit-content
            background-color: #9c812870
            padding: 10px 15px
            border-radius: 10px
            backdrop-filter: blur(3px)

        .todo
            width: 100%
            height: fit-content
            border: 2px solid #9c8128
            border-radius: 10px
            margin: 0 10px 10px 0
            padding: 0 0 0 10px
            display: flex
            justify-content: space-between
            align-items: center
            overflow: hidden
            background-color: #9c812880
            backdrop-filter: blur(4px)

            div
                display: flex
                align-items: center

                .custom-checkbox
                    position: absolute
                    z-index: -1
                    opacity: 0

                .custom-checkbox+label
                    display: inline-flex
                    align-items: center
                    user-select: none

                .custom-checkbox+label::before
                    content: ''
                    display: inline-block
                    width: 1em
                    height: 1em
                    flex-shrink: 0
                    flex-grow: 0
                    border: 2px solid #ceb86e
                    border-radius: 0.25em
                    margin-right: 0.5em
                    background-repeat: no-repeat
                    background-position: center center
                    background-size: 50% 50%

                .custom-checkbox:checked+label::before
                    border-color: #9c8128
                    background-color: #9c8128
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23cb6' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

                input, p
                    margin: 10px 5px
                    font-size: 1.5rem

                button
                    width: fit-content
                    min-height: 50px
                    outline: none
                    border: 2px solid #9c8128
                    border-top: none
                    border-bottom: none
                    border-right: none
                    font-size: 1rem
                    background-color: #9c812870
                    font-family: 'Lato', sans-serif
                    // backdrop-filter: blur(2px)
                    padding: 5px 10px
                    color: #ffe89d

                    &:hover
                        background-color: #9c8128c4
